@tailwind components;
@tailwind base;
@tailwind utilities;

/*** SWIPE LIST OVERRIDES **/
.swipeable-list-item__leading-actions, 
.swipeable-list-item__trailing-actions {
  @apply text-white text-lg uppercase font-bold;
}
.swipeable-list-item__leading-actions{
  @apply bg-yellow-500;
}
.swipeable-list-item__trailing-actions {
  @apply bg-red-600;
}
.swipeable-list .swipe-action {
  @apply flex justify-center items-center
}


body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.react-date-picker,
.react-date-picker__wrapper,
.react-date-picker__inputGroup__input,
.react-date-picker__inputGroup input,
.react-date-picker__button {
  border: none !important;
}

